<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="url" value="https://yeshrm.com/test/Login/Login.aspx?"/>
		<add key="email" value="tst@tst.com"/>
		<add key="password" value="demouser@1234"/>
		<add key="alertboxurl" value="https://yeshrm.com/test/Dashboard/Dashboard.aspx"/>
	</appSettings>
</configuration>